$mdc-theme-primary: rgb(255, 255, 255);
$mdc-theme-on-primary: rgb(0, 0, 0);
$mdc-theme-secondary: rgb(0, 0, 0);
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface: rgb(255, 255, 255);
$mdc-theme-on-surface: rgb(0, 0, 0);
$mdc-theme-background: #33333D;
$mdc-theme-on-background: #FFFFFF;